
<p class="welcome">Welcome to <span id="technet">Technet</span></br><span>Network chanel designed for woman in tech</span></p>
<div class="wrapper_one_home">
<<<<<<< HEAD
	<div class= "column_one_home">
	<h3>links</h3>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
	</div>
	<div class= "column_two_home">	
=======
		<div class= "column_one_home">
		<h3>News & Events</h3>
			<ul>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			</ul>
		</div>
	<div class= "column_two_home">
>>>>>>> master
	<h3>Posts</h3>
		<div class="posts">
			<p> <% @posts.each do |post| %></p>
			<h4> <%= post.title %></h4>
			<p>	<%= post.posts %></p>
		<% end %>
	</div>

	</div>
	<div class= "column_three_home">
	<h3>login</h3>
	</div>
</div>