
<p class="welcome">Welcome to <span id="technet">Technet</span></br><span id="network">Network channel for woman in tech</span></p>
<div class="wrapper_one_home">
	<div class= "column_one_home">
	<h3 class="topics">News & Events</h3>
		<ul>
		<li><a href="http://www.komonews.com/news/local/Volunteers-needed-to-help-teach-computer-science-students-301903171.html"> Volunteers needed to help teach computer science students </a></li></br>
		<li><a href="http://www.bizjournals.com/dallas/blog/techflash/2015/04/words-of-wisdom-from-women-tech-leaders-at-at-t.html"> Words of wisdom from women tech leaders at AT&T, Verizon and Omni</a></li></br>
		<li><a href="http://atlantaforward.blog.ajc.com/2015/04/29/women-in-leadership-faith-careers-justice/"> Women in leadership: Faith, careers, justice </a></li></br>
		<li><a href="http://fortune.com/2015/05/01/pooja-sankar-pivotal-career-moment/"> How Sheryl Sandberg inspired me to start my own business </a></li></br>
		<li><a href="http://www.forbes.com/sites/meghanbiro/2015/04/27/women-in-technology-why-its-good-for-everyone/"> Women In Technology: Why It's Good For Everyone </a></li></br>
		</ul>
	</div>
	<div class= "column_two_home">
		<h3 class="topics">Posts</h3>
		<div class="posts">
			<% @posts.each do |post| %>
			<p> 
				<span id="pspan"><%= post.title %></span><br>
				<%= post.posts %>
			</p>
			<% end %>
		</div>

	</div>
<!-- 	<div class= "column_three_home">
	<h3 class="topics">login</h3>
	</div> -->
</div>