<p class="welcome">Welcome to <span id="technet">Technet</span></br><span>Network chanel designed for woman in tech</span></p>
<div class="wrapper_one_home">
		<div class= "column_one_home">
		<h3>News & Events</h3>
			<ul>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur </a></li></br>
			<li><a href="#"> Lorem ipsum dolor sit amet,consectetur adipisicing </a></li></br>
			</ul>
		</div>
	<div class= "column_two_home">
	<h3>Posts</h3>
	</div>
	<div class= "column_three_home">
	<h3>login</h3>
	</div>
</div>