<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<title>Technet-Network built for woman</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/styles/style.css">
	<script type="text/javascript" src="/javascript/scripts.js"></script>
</head>
<body>
	<div class="wrapper_nav">
		<nav>
			<ul>
			<!--loop for nav_bar -->
				<% @nav.each do |key, value| %>
				<li>
				<!-- nav_bar linking with "value" -->
				<a href=<%= value %> >
					<!-- nav_bar naming with "key" -->
				<%= key %>
				</a>
				</li>
				<% end %>
			</ul>
		</nav>
	</div>
		<div>
		<%= yield %>
		</div>
		<div class="div_footer">
			<div class="icons">	
				<footer>
					<a href="http://https://linkedin.com/" target="_blank">
					<img src="/images/linkedinlogo.png" alt="Linkedin"/>
					</a>
					<a href="https://twitter.com/" target="_blank">
					<img src="/images/twitterlogo.png"alt="Twitter"/>
					</a>
					<a href="https://instagram.com/" target="_blank">
					<img src="/images/instalogo.png" alt="Instagramm"/>
					</a>	
					<a href="http://www.facebook.com" target="_blank">
					<img src="/images/facebooklogo.png" alt="Facebook"/>
					</a>
				</footer>
			</div> <!-- Div icons -->
		</div> <!-- Div _footer -->
		</div>	<!-- Div wrapper -->
</body>

</html>