<h2>Welcome <%= @user.fname %> You can start posting</h2>

<div class="notice"><%= flash[:notice] if flash[:notice] %></div>




	
	<div class="posted">
		<h2 id="postedtitle"><%= @post.title %></h2>
		<p id="postedbody"><%= @post.posts %></p>
	</div>




