<!-- <h2>Welcome <%= @user.fname %> You can start posting</h2> -->

<div class="notice"><%= flash[:notice] if flash[:notice] %></div>



	<% @posts.each do |post| %>

		<h4> <%= post.title %></h4>
		<p>	<%= post.posts %></p>
	
	<% end %>

	<a href="/logout">Logout</a>




