<h2>my profile</h2>

<p>Please enter your profile</p>

<form id="profile" action="/profile" method="POST">
	
	<input class="input" type="text" name="firstname" placeholder="enter your first name">
	<input class="input" type="text" name="lastname" placeholder="enter your last name">
	<input class="input" type="text" name="address" placeholder="enter your address">
	<input class="input" type="text" name="city" placeholder="enter your address">
	<select id="state" name="state" id="">
		<option value="" disabled selected>Select your state</option>
		<option value="NY">NY</option>
		<option value="CT">CT</option>
		<option value="NJ">NJ</option>
	</select>
	<input class="input" type="text" name="zipcode" placeholder="enter your zip code">
	<input class="input" type="text" name="country" placeholder="enter your country">
	<input id="submit" class="submit" type="submit" value="submit this form">


</form>