
html{
	width: 100%;
	height:auto;

}
/*_________LAYOUT________*/
body{
	width: 100%;
	background-color: #8390C4;
	font-family: courier;
/*	margin: 2%;*/
	height: auto;
	margin: 0px;
	/*padding-left: 20px;*/
}

nav{
	width: 100%;
	height: 40px;
	background-color:rgba(59,0,52,.75);
/*	opacity: .8;*/
	position: fixed;
	top: 0px;
	left:0px;
	z-index: 9999;
	padding-bottom: 20px;
	color: #ffffff; 
}
.wrapper_nav{
	margin-top: 60px;
	background: url('/images/navlogo_1.gif');
	height: 300px;
	list-style-type: none;
	color: #ffffff; 

}
.wrapper_nav ul{
	color: #ffffff;
}	

.wrapper_nav ul li a{
	text-decoration: none;
	color: #986592;
	transition:.3s;
}
.wrapper_nav ul li a:hover{
	color:black;

}
.wrapper_nav ul li {
	text-decoration: none;
	display: inline;
	font-size: 20px;
	float: right;
	margin-right:20px;
}

.div_footer{
	height: auto;
	width:100%;
	background-color:#3B0034;
	left:0px;
	margin:0px;
	clear:both;

}

.icons{
	padding-top: 30px;
	text-align: center;
	vertical-align: middle;
}
.icons img{
	width: 48px;
	height:48px;
	padding-bottom: 17px;
	/*border-radius: 5px;*/
}
footer{
	width:100%;
	margin:0 auto;
	clear: both;

}

/*_________LAYOUT ENDS________*/
/*_________HOME________*/

.welcome{
	margin-top: 50px;
	font-size:50px;
	text-align: center;
	font-family: Times;
	font-style: italic;
	margin-left:-20px; }
 span{
	font-family: Helveticaƒ;
	font-size: 60px;
	font-style: italic;
	color: rgb(255, 255, 255);
}
#technet{
	font-family: Times;
	font-size: 80px;
	color: black;
	z-index: ;
}
.topics{
	font-family: Helvetica;
	text-align: center;
}
.wrapper_one_home{
	font-family: Times;
	width:100%;
	margin: 0 auto;
	padding-top: 5px;
	text-align:	left;
	margin-left: 2%;
	font-size:18px;
}

.column_one_home{
 	width:30%;
 	height: auto;
 	display: inline-block;
 	float:left;
	margin-left:-10px;
	margin-right: 50px;
}
.column_one_home ul li a{
 	text-decoration: none;
 	color: #D5D5D5;
}
.column_one_home ul li a:hover{
	transition:.5s;
}
.column_one_home ul li{
	color: #ffffff;
	list-style-type: none;
	text-align: right;
}
.column_one_home ul li:hover{
background-color: rgba(0, 0, 0,.2);
}
.column_two_home{
	width:50%;
	height: auto;
	display: inline-block;
 	float:left;
 	text-align:center;
}
.posts p {
	font-style: italic;
	background-color: rgba(255, 255, 255,.7);
	text-align: left;
	border-radius: 15px;
	padding-left: 20px;
}
/*.posts p:hover{
	background-color: rgba(255, 255, 255,.5);
}*/
#pspan{
	font-size: 20px;
	font-family: Arial;
	color:#413E41;
	font-style: normal;
}
.column_three_home{
	width:25%;
	height: auto;
	display: inline-block;
 	float:left;
}
/*_________HOME ENDS________*/
/*_________SIGN UP________*/
.h2_signup{
	font-size: 25px;
	text-align: center; 
}
.form_signup{
	margin-left: 20%;
	border-radius: 10px;
	width: 737px;
	margin-bottom: 20px;
}
form{
	/*background: url('/images/paper.jpg');	*/
	background-repeat: no-repeat;
	padding-left: 83px;
	/*padding-top: 10px;*/
	background-color: #D5D5D5;
	border-radius: 10px;
}
.form_text{
	padding-top: 20px;
}
.submit{
	width: 200px;	
	line-height: 18px;
	background: #fefbfc;
	font-size: 12px;
	clear: both;
	margin: 15px 30px 15px 250px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .2);
	font-family: courier;
	font-weight: bold;
	float:left;
	margin-left:25%;
	font-size: 20px;
	margin-top: 5px;
}
.submit:hover , #submit_profile:hover{
background-color: rgba(59,0,52,.75);
color: rgba(255,255,255,.6);
}
form input .submit{
	float:left;
}

/*_________SIGN UP ENDS________*/
/*_________LOg in ________*/
.alert{
	font-size: 20px;
	color:#A71414;
	width:700px;
	text-align: center;
}
.form_login{
	width:700px;
	margin-left: 20%;
	clear: both;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;

}
.form_login_id{

	width:700px;
	margin-left: 20%;
	background-color: rgba(255, 255, 255, .6);
}
/*_________LOg in ENDS________*/
.input{
	background: transparent;
	height: 25px;
	width: 400px;
	border: none;
	font-size: 16px;
	margin: 10px;
	padding: 5px;
}
/*_________Profile________*/
#state{
	width: 150px;
	background: transparent;
	border: none;
}
.form_profile{
	width:100%;
	clear: both;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}
.profile_h2{
	text-align: center;
}
#submit_profile{
	width: 200px;	
	line-height: 18px;
	background: #fefbfc;
	font-size: 12px;
	clear: both;
	margin: 15px 30px 15px 250px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .2);
	font-family: courier;
	font-weight: bold;
	float:left;
	margin-left:38%;
	font-size: 20px;
	margin-top: 5px;
}
/*_________Profile ends________*/
/*_________Members/add posts________*/
.h2_members_post{
	text-align: center;
}
#post{
	width:500px;
	margin-left: 24%;
	clear: both;
	margin-top: 0px;
	margin-bottom: 0px;
}
textarea
{
	width: 400px;
	height:100px;
}